# Pandas Examples

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
temp = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(temp)

a   -1.434450
b    1.133640
c    0.916944
d   -0.370609
e    0.118747
dtype: float64

In [3]:
print(temp.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
print(pd.Series(np.random.randn(5)))

0   -0.561418
1   -1.108254
2   -0.639587
3    0.473353
4   -0.874955
dtype: float64

In [5]:
temp2 = {'a': 0., 'b': 1., 'c' :2.}
print(pd.Series(temp2))

a    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
print(pd.Series(temp2, index=['b', 'c', 'd', 'a']))

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [7]:
print(temp)

a   -1.434450
b    1.133640
c    0.916944
d   -0.370609
e    0.118747
dtype: float64

In [8]:
print(temp[0])

-1.43445043604528

In [9]:
print(temp[:3])

a   -1.434450
b    1.133640
c    0.916944
dtype: float64

In [12]:
print(temp[3:])

d   -0.370609
e    0.118747
dtype: float64

In [13]:
print(temp[temp > temp.median()])

b    1.133640
c    0.916944
dtype: float64

In [14]:
print(np.exp(temp))

a    0.238246
b    3.106947
c    2.501633
d    0.690314
e    1.126084
dtype: float64

In [15]:
print(temp)

a   -1.434450
b    1.133640
c    0.916944
d   -0.370609
e    0.118747
dtype: float64

In [16]:
print(temp['a'])

-1.43445043604528

In [18]:
print(temp['e'])

0.11874653484833181

In [23]:
print(temp[2:3])

c    0.916944
dtype: float64

In [24]:
print('e' in temp)

True

In [25]:
print(temp.get('f', np.nan))

nan

In [26]:
print(temp + temp)

a   -2.868901
b    2.267281
c    1.833887
d   -0.741218
e    0.237493
dtype: float64

In [27]:
print(temp *2)

a   -2.868901
b    2.267281
c    1.833887
d   -0.741218
e    0.237493
dtype: float64

In [28]:
print(temp[1:] + temp[:-1])

a         NaN
b    2.267281
c    1.833887
d   -0.741218
e         NaN
dtype: float64

In [29]:
print(temp[1:])

b    1.133640
c    0.916944
d   -0.370609
e    0.118747
dtype: float64

In [30]:
print(temp[:-1])

a   -1.434450
b    1.133640
c    0.916944
d   -0.370609
dtype: float64

In [31]:
temp = pd.Series(np.random.randn(5), name = 'Temp Variables')
print(temp)

0   -0.241823
1   -0.623438
2    0.246432
3   -0.333557
4    1.135171
Name: Temp Variables, dtype: float64

In [32]:
temp = {'one' : pd.Series([1.,2.,3.], index=['b', 'a', 'c']), 'two': pd.Series([2, 1.,3.,4.], index=['b','a','c','d'])}

In [33]:
temp_frame = pd.DataFrame(temp)
print(temp_frame)

   one  two
a  2.0  1.0
b  1.0  2.0
c  3.0  3.0
d  NaN  4.0

In [34]:
print(temp_frame.mean())

one    2.0
two    2.5
dtype: float64

In [35]:
print(pd.DataFrame(temp, index=['d','b','a']))

   one  two
d  NaN  4.0
b  1.0  2.0
a  2.0  1.0

In [36]:
temp = {'first' : [1.,2.,3.,4.],
        'second' : [4.,3.,2.,1.]}

In [38]:
print(pd.DataFrame(temp))

   first  second
0    1.0     4.0
1    2.0     3.0
2    3.0     2.0
3    4.0     1.0

In [40]:
print(pd.DataFrame(temp, index=['a','b','c','d']))

   first  second
a    1.0     4.0
b    2.0     3.0
c    3.0     2.0
d    4.0     1.0

In [42]:
data2 = [{'a': 1, 'b': 2}, {'a':5, 'b':10, 'c':20}]
pd.DataFrame(data2, index=['one', 'two'])
print(pd.DataFrame(data2, index=['one', 'two']))

     a   b     c
one  1   2   NaN
two  5  10  20.0

In [46]:
print(temp_frame['one'])

a    2.0
b    1.0
c    3.0
d    NaN
Name: one, dtype: float64

In [47]:
print(temp_frame)

   one  two
a  2.0  1.0
b  1.0  2.0
c  3.0  3.0
d  NaN  4.0

In [48]:
print(type(temp_frame['one']))

<class 'pandas.core.series.Series'>

In [1]:
temp_frame['three']

NameError: name 'temp_frame' is not defined